@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* width: 448px !important; */
  max-width: 475px !important;
  margin: 0 auto;
  /* padding: 0; */
  border: 1px solid #000;
  /* text-align: center; */
}
